* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif
}
body{
    background-color:#F6F8F9;
    }
header{
    height: 80px;
    padding: 10px;
    background-color: white;
    line-height: 60px;
}
header .logo{
    height: 100%;
    vertical-align:middle;
}
header h1{
    display: inline-block;
}
section{
    width: 70%;
    background-color: white;
}
.task-add-bar{
    margin: 4% 15% 1px;
    padding: 1% 5%;
    border-radius: 5px 5px 0 0;
}

.tasks-section{
    margin: 2px 15% 1%;
    padding: 1% 5%;
    border-radius: 0 0 5px 5px;

}
main button{
    width: auto;
    padding: 1% 2%;
    border-color:unset;
    border-width: 1px;
}

.task-add-bar button{
    border-radius:5px
}
#add-task-button{
    background-color:#45ABEA;
    color: white;
}
#add-section-button{
    background-color:white;
    color:lightgray;
    border-color: lightgray;
}
ul{
    padding-bottom: 20px;
}
.list-header{
    margin-left: 20px;
    font-size:1,5em;
    font-weight: bold;
}
.task{
    list-style: none;
}
.label{
    display: inline-block;
    margin-left: 5px;
}
.editorial{
    background-color: #45ABEA;
}
.recruiting{
    background-color:#64C0A9;
}
.mobile{
    background-color: #F29E33;
}
.website{
    background-color: #D863A1;
}
.sales{
    background-color: #B0C926;
}
.q1-goals{
    background-color: #9C72E4;
}