* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif
}
body{
    background-color:#F6F8F9;
    }
header{
    height: 80px;
    padding: 10px;
    background-color: white;
    line-height: 60px;
}
header .logo{
    vertical-align:middle;
    height: 100%;
}
header h1{
    display: inline-block;
}
section{
    width: 70%;
    background-color: white;
}
.task-add-bar{
    margin: 4% 15% 1px;
    padding: 1% 5%;
    border-radius: 5px 5px 0 0;
}

.tasks-section{
    margin: 2px 15% 1%;
    padding: 1% 5%;
    border-radius: 0 0 5px 5px;

}
main button{
    width: auto;
    padding: 1% 2%;
    border-color:unset;
    border-width: 1px;
}

.task-add-bar button{
    border-radius:5px
}
#add-task-button{
    background-color:#45ABEA;
    color: white;
}
#add-section-button{
    background-color:white;
    color:lightgray;
    border-color: lightgray;